body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

button {
  border: 0px;
  background-color: #232323;
  color: white;
  font-weight: bold;
  font-size: 14px;
  min-height: 53px;
  box-sizing: border-box;
}

button:hover {
  background-color: rgba(0,0,0,1);
  text-decoration: underline;
  cursor: pointer;
}

button:disabled {
  background-color: rgba(0,0,0,1);
  box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,1);
}

.modal-panel-container {
  display: flex;
  margin-top: 10px;
  /* position: fixed; */
  /* bottom: 0px; */
}

.step-two {
  text-align: left;
}

.step-three {
  text-align: center;
}

.stepone-img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-title {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  font-style: italic;
}

.welcome-modal-div {
  text-align: center;
}

.site-desc-full {
  /* text-align: center; */
  font-size: 24px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.welcome-text {
  margin: 0px;
  display: flex;
  justify-content: center;
  min-height: 45px;
}

.description-text {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 18px;
  min-height: 45px;
}

.description-text-ul{
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.stepone-img {
  max-width: 730px;
  width: 100%;
  /* max-height: 405px; */
  flex: 1;
  background-color: white;
  /* margin-bottom: 50px; */
  /* height: 80%; */
}

.arena {
  width: 45%;
  height: 45%;
  margin-top: 25px;
  border-radius: 10px;
}

.arena:hover {
  border: 10px solid #6a51a3;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  /* max-height: 100vh; */
}

.upper-container {
  flex: 1;
  display: flex;
}

.lower-container {
  flex: 1;
}

.graph-container {
  flex: 1;
}

.text-pane {
  flex: 1;
}

.text-area {
  height: 100%;
  display: flex;
}


.code-input-left {
  flex: 20%
}

.code-input-right {
  flex: 20%
}

.code-submit {

}

.control-panel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.selector-buttons {
  display: flex;
  flex: 1;
}

.pane-selector {
  flex: 1;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.pane-selector:focus {
 outline: none;
}

.range-input {
  padding: 0px;
  flex: 1;
}

.range-input:hover {
  background: #dddddd;
}

.num-tests-input {
  flex: 1;
}

.num-tests-input:hover {
  background: #dddddd;
}

.test-setup {
  flex: 75%;
  display: flex;
}

.demo-sort {
  flex: 1;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.demo-sort {
  outline: none;
}

.library-sorts {
  display: flex;
  flex: 1;
}

.language-selectors {
  display: flex;
  height: 5%;
}

.language-button {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #232323;
  color: white;
  font-size: 12px;
  min-height: 20px;
}

.language-button:hover {
  background: #000000;
  text-decoration: underline;
}

.language-button:disabled {
  background: #000000;
  box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);
}

.code-form-container {
  display: flex;
  flex: 20%;
}

.chart {
  /*border: 1px solid;*/
  flex: 1.6;
  background: black;
  /* display: flex; */
  /* align-items: flex-start; */
  /* background-color: white; */
}

.data-point {
  /*transform: scale(1,1);*/
}

.data-point:hover {
  /*transform: scale(1.2,1.2);*/
}

.data-point.series-1 {
  fill: #7587A6;
}

.data-point.series-2 {
  fill: #CF6A4C;
}

.editor-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.editor {
  flex: 1;
}

.axis {
  stroke: #ffffff;
  font-size: 16px;
}

.axis path {
  stroke: #ffffff;
  fill: none;
}

.axis line {
  stroke: #ffffff;
  fill: none;
}

.axis .tick text {
  fill: #ffffff;
  stroke: none;
}

.hover-text {
  fill: #ffffff;
  font-size: 16px;
}

.axis-label {
  font-size: 16px;
  fill: #ffffff;
  stroke: none;
}

.function-label {
  font-size: 20px;
  font-weight: 700;
  stroke: none;
}

.function-label.f1 {
  fill: #7587A6
}

.function-label.f2 {
  fill: #CF6A4C
}

/*FOOTER GOES BELOW*/
.footer-column {
 display: inline-flex;
 align-items: center;
 width: 100%;
 justify-content: space-between;
 height: 20px;
 }

 .heading {
   font-size: 18px
 }

 .by-dc-to {
   left: 0;
   font-size: 18px;
   font-weight: bold;
 }

 .connect-row {
  align-items: center;
  display: flex;
  padding: 0px;
  height: 20px;
  list-style: none;
 }

 #icon {
   width: 20px;
   height: 20px;
 }
